body {
    background-color: rgb(179, 193, 188);
    color: black;
    font-family: sans-serif;
    max-width: 600px;
    margin: 0 auto 0 auto;
    padding: 20px;
}

img {
    width: 100%;
}

h1 {
    background-color: rgb(140, 206, 206);
    color: blue;
    font-size: 40px;
}

p {
    line-height: 1.5;
    font-size: 20px;
}
 
li {
 font-size: 20px;
 line-height: 1.5;
}

a {
    margin-top: 40px;
    font-size: 20px;
    display: block;
}